#section-about
  .container
    .three.columns
      %h3 About
    .nine.columns
      %p.intro
        I'm Pablo, experienced Ruby Developer. I love finding new challenges and working in high performance teams.
    .four.columns
      %a.link-print{:href => "#"} Print Resume
      %a.link-pdf{:href => "downloads/resume_pdf_turquoise.pdf", :title => "Download PDF Resume"} Download PDF
    .clear