.three.columns
  %h3 Education
.thirteen.columns
  .item
    .nine.columns.alpha.no-border
      %h4
        Masters in Computer Science
      %p
        %span.italic.font-color-black Buenos Aires University
    .four.columns.omega
      %p.date
        Graduating in Dec 2013
        %br/
        %span.label In Progress
    .clear
  .clear
  .item
    .nine.columns.alpha
      %h4 B.S. Degree in Computer Science
      %p
        %span.italic.font-color-black ORT
        %br/
        Summa Cum Laude
    .four.columns.omega
      %p.date Dec 2004
    .clear
  .clear
.clear