#section-footer
  .container
    .six.columns
      %p
        %a{:href => "mailto:pabloroz@gmail.com"} pabloroz@gmail.com
    .ten.columns
      %ul#social
        %li
          %a{:href => "http://www.facebook.com/pabloroz", :title => ""}
            %img{:alt => "Facebook", :src => "images/icons/icon_facebook.png"}/
        %li
          %a{:href => "http://www.twitter.com/pabloroz", :title => ""}
            %img{:alt => "Twitter", :src => "images/icons/icon_twitter.png"}/
        %li
          %a{:href => "http://www.github.com/pabloroz", :title => ""}
            %img{:alt => "Behance", :src => "images/icons/icon_github.png"}/
        %li
          %a{:href => "http://linkedin.com/in/pablorozanski", :title => ""}
            %img{:alt => "Linkedin", :src => "images/icons/icon_linkedin.png"}/
    .clear