.three.columns
  %h3 Honors & Awards
.thirteen.columns
  .item
    .nine.columns.alpha
      %h4 High Honors
      %p
        %span.font-color-black.italic RubyConf Speaker
        %br/
        Developer life from C# to Ruby
    .four.columns.omega
      %p.date
        Apr 2011
    .clear
  .clear
.clear