#section-profileImage
  .container
    .sixteen.columns
      #box-name
        %h2 Pablo Rozanski
        %p
          Ruby Specialist
          %span.font-color-black /
          %a.link-email{:href => "mailto:pabloroz@gmail.com"} pabloroz@gmail.com
    .clear