#section-resume
  .section-title
    .container
      .sixteen.columns
        %h2 Resume
      .clear
  .container
    .block
      = render 'views/_work.haml'
    .block
      = render 'views/_honors.haml'
    .block
      = render 'views/_education.haml'
    .block.last
      = render 'views/_skills.haml'