.three.columns
  %h3 Skills
.thirteen.columns
  .box-skill
    .box-inner
      %h4 HTML5/CSS3
      %p I design minimal websites with extreme usability. I am also capable of responsive design.
  .box-skill
    .box-inner
      %h4 Ruby
      %p From working on small projects to utilizing large-scale frameworks, I have 8 years of experience on PHP development.
  .box-skill
    .box-inner
      %h4 Javascript
      %p Being a front-end developer, Javascript is my strength.
  .box-skill
    .box-inner
      %h4 Rails
      %p Being a graphic design major, I have a long love-hate relationship with Photoshop.
  .box-skill
    .box-inner
      %h4 Agile
      %p Please don't hesitate to call me the grand master of Illustrator.
  .box-skill
    .box-inner
      %h4 Dev-ops
      %p I have participated on several video projects.
.clear