#section-topbar
  #topbar-inner
    .container
      .sixteen.columns
        .dropdown
          %ul#nav.nav
            %li.menu-item
              %a{:href => "#section-intro", :title => "About"}
                %img{:alt => "Profile", :src => "images/icons/icon_profile.png"}/
            %li.menu-item
              %a{:href => "#section-resume", :title => "Resume"}
                %img{:alt => "Resume", :src => "images/icons/icon_resume.png"}/
            %li.menu-item
              %a{:href => "#section-works", :title => "Works"}
                %img{:alt => "Works", :src => "images/icons/icon_works.png"}/
            %li.menu-item
              %a{:href => "#section-contact", :title => "Contact"}
                %img{:alt => "Contact", :src => "images/icons/icon_testimonials.png"}/
        .clear
    .clear