.three.columns
  %h3 Work
.thirteen.columns
  .item
    .nine.columns.alpha
      %h4 Senior Ruby Technical Leader
      %p
        %span.font-color-black.italic Wedding Wire (3Pillar Global Contractor)
        %br/
        Leading a group of 10 Ruby developers to rebuild 
        %span.italic 
          %a{href: 'http://www.projectwedding.com'} www.projectwedding.com
      %p.desc
        I leaded a group of 10 developers to rebuild from scratch a social network to allow brides find inspiration for their weddings.
        I was in charge of the architecture, managing the scrum for the entire group and driving the team to build a high quality rails/javascript application.
        %br
        Also I managed a group of 3 people fully advocated to the Quality and 2 more working with the UI design.
    .four.columns.omega
      %p.date April 2012 ~ Current (1 year)
    .clear
  .clear
  .item
    .nine.columns.alpha
      %h4 Ruby Specialist
      %p
        %span.font-color-black.italic 3Pillar Global
        %br/
      %p.desc
        Working allong with the CTO and the rest of upper management to define company wide standards for ruby and web development in general.
        | Compiled a set of good practices.
        | Prepared some talks about methodology and Ruby development.
        | Did some R&D projects using Riak.

    .four.columns.omega
      %p.date April 2011 ~ Current (2 years 3 months)
    .clear
  .clear
  .item
    .nine.columns.alpha
      %h4 Ruby Technical Leader
      %p
        %span.font-color-black.italic App47 (3Pillar Global Contractor)
      %p.desc
        Building a high quality pice of software to help big companies and small ISV to distribute, manage and measure their mobile apps over the air.
        My tasks included leadedding a team to build among others a Rails application, a Sinatra application, tune up a Mongo DB database to support high volume of data and helping the founders to build a product from zero to a sustainable business.
    .four.columns.omega
      %p.date April 2011 ~ February 2012 (11 months)
    .clear
  .clear
.clear