#section-works
  .container
    .three.columns
      %h3 Works
    .thirteen.columns
      %a{"data-reveal-id" => "work-modal-01", :href => "#"}
      .item
        .eight.columns.alpha
          %img{:alt => "", :src => "images/work_item01.jpg"}/
        .five.columns.omega
          .work-info
            %span.category Identity
            %h4
              %em theBerkeleyMDP
              Branding Concept
            %p An identity that reflects multidisciplinary, constructivist approach to education that integrates theory with hands-on, experiential learning
        .clear
      %a{"data-reveal-id" => "work-modal-02", :href => "#"}
      .item
        .eight.columns.alpha
          %img{:alt => "", :src => "images/work_item02.jpg"}/
        .five.columns.omega
          .work-info
            %span.category Web
            %h4 Instrumented Indentation Technique Conference 2012
            %p The conference “Instrumented Indentation Technique” took place at the JW Marriot Hotel (Galleria) in Houston, TX on 7 June 2012.
        .clear
      %a{"data-reveal-id" => "work-modal-03", :href => "#"}
      .item.last
        .eight.columns.alpha
          %img{:alt => "", :src => "images/work_item03.jpg"}/
        .five.columns.omega
          .work-info
            %span.category Print
            %h4
              %em Park
              Personal Brand Concept
            %p Personal project in establishing a brand that well communicates the core values of my works: minimal design with extreme usability
        .clear
#work-modal-01.reveal-modal
  %img{:alt => "", :src => "images/work_item01_detail.jpg"}/
  .box-modal
    %h4
      %em theBerkeleyMDP
      Branding Concept
    %p An identity that reflects multidisciplinary, constructivist approach to education that integrates theory with hands-on, experiential learning
  %a.link-details{:href => "http://www.behance.net"} View project
  %a.close-reveal-modal Close
#work-modal-02.reveal-modal
  %img{:alt => "", :src => "images/work_item02_detail.jpg"}/
  .box-modal
    %h4 IITC 2012 Conference
    %p This later became the foundation of Eventcamp template. "Necessity of IIT and Application Cases" was held on September 27th, 2012 at Houston, TX.
  %a.link-details{:href => "http://www.iitc2012.org/"} Go to the site
  %a.close-reveal-modal Close
#work-modal-03.reveal-modal
  %img{:alt => "", :src => "images/work_item03_detail.jpg"}/
  .box-modal
    %h4
      %em Park
      Personal Brand Concept
    %p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
  %a.close-reveal-modal Close