.three.columns
  %h3 Work
.thirteen.columns
  .item
    .nine.columns.alpha
      %h4 Senior Ruby Technical Leader
      %p
        %span.font-color-black.italic Wedding Wire (3Pillar Global Contractor)
        %br/
        Leading a group of 10 Ruby developers to rebuild 
        %span.italic 
          %a{href: 'http://www.projectwedding.com'} www.projectwedding.com
      %p.desc
        I leaded a group of 10 developers to rebuild from scratch a social network to allow brides find inspiration for their weddings.
        I was in charge of the architecture, managing the scrum for the entire group and driving the team to build a high quality rails/javascript application.
        %br
        Also I managed a group of 3 people fully advocated to the Quality and 2 more working with the UI design.
    .four.columns.omega
      %p.date April 2012 ~ Current (1 year)
    .clear
  .clear
  .item
    .nine.columns.alpha
      %h4 Ruby Specialist
      %p
        %span.font-color-black.italic 3Pillar Global
        %br/
      %p.desc
        Working allong with the CTO and the rest of upper management to define company wide standards for ruby and web development in general.
        | Compiled a set of good practices.
        | Prepared some talks about methodology and Ruby development.
        | Did some R&D projects using Riak.

    .four.columns.omega
      %p.date April 2011 ~ Current (2 years 3 months)
    .clear
  .clear
  .item
    .nine.columns.alpha
      %h4 Ruby Technical Leader
      %p
        %span.font-color-black.italic App47 (3Pillar Global Contractor)
      %p.desc
        Building a high quality pice of software to help big companies and small ISV to distribute, manage and measure their mobile apps over the air.
        My tasks included leadedding a team to build among others a Rails application, a Sinatra application, tune up a Mongo DB database to support high volume of data and helping the founders to build a product from zero to a sustainable business.
    .four.columns.omega
      %p.date April 2011 ~ February 2012 (11 months)
    .clear
  .clear
  .item
    .nine.columns.alpha
      %h4 .Net Consultant
      %p
        %span.font-color-black.italic Hobsons (3Pillar Global Contractor)
      %p.desc
        Started up the development of a big application to help universities choosing applicants to the after-graduated programs.
        During these months helped to define the development methodology and best practices along with the architecture.
    .four.columns.omega
      %p.date March 2012 ~ July 2012 (5 months)
    .clear
  .clear
  .item
    .nine.columns.alpha
      %h4 Ruby Arquitect
      %p
        %span.font-color-black.italic Canvas (3Pillar Global Contractor)
      %p.desc
        Leaded the team to design and code the basic architecture for a product called mygocanvas then when the bases where established transitioned it to the product team and continued providing support and help with technical desitions
    .four.columns.omega
      %p.date September 2011 ~ December 2011 (4 months)
    .clear
  .clear
  .item
    .nine.columns.alpha
      %h4 Senior Ruby Developer
      %p
        %span.font-color-black.italic Wireless Matrix (3Pillar Global Contractor)
      %p.desc
        This product helps companies to manage their truck fleet and their drivers.
        My task was creating a Rails API and a complex reporting front end
    .four.columns.omega
      %p.date December 2010 ~ April 2011 (5 months)
    .clear
  .clear
  .item
    .nine.columns.alpha
      %h4 Senior Framework Developer
      %p
        %span.font-color-black.italic Aplicor (3Pillar Global Contractor)
      %p.desc
        Involved in the design and development of the framework on which the CRM and the ERP are based.
        Worked with Entity Framework, Silverlight, and various other Microsoft related technologies.
    .four.columns.omega
      %p.date September 2010 ~ December 2011 (4 months)
    .clear
  .clear
  .item
    .nine.columns.alpha
      %h4 Senior .Net Developer
      %p
        %span.font-color-black.italic Aplicor (3Pillar Global Contractor)
    .four.columns.omega
      %p.date June 2010 ~ September 2011 (4 months)
    .clear
  .clear
  .item
    .nine.columns.alpha
      %h4 Technical Leader .Net
      %p
        %span.font-color-black.italic Globant
    .four.columns.omega
      %p.date September 2008 ~ June 2010 (1 year 10 months)
    .clear
  .clear
  .item
    .nine.columns.alpha
      %h4 Senior Developer .Net
      %p
        %span.font-color-black.italic Globant
    .four.columns.omega
      %p.date January 2007 ~ September 2008 (1 year 9 months)
    .clear
  .clear
  .item
    .nine.columns.alpha
      %h4 Developer .Net
      %p
        %span.font-color-black.italic Globant
    .four.columns.omega
      %p.date June 2006 ~ January 2007 (8 months)
    .clear
  .clear
  .item
    .nine.columns.alpha
      %h4 Developer
      %p
        %span.font-color-black.italic ITechnology
    .four.columns.omega
      %p.date January 2004 ~ June 2006 (2 years 6 months)
    .clear
  .clear
.clear